/* STYLES */

body {
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS';
}

nav {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    padding: 15px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: justify;
    width: 75%;
    font-size: 1em;
}

figcaption {
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

mark {
    background-color: blanchedalmond;
    text-decoration: underline;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

li {
    list-style-type: none;
}

#head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#wiki {
    border: 1px solid grey;
    border-radius: 5px 5px;
    background-color: rgba(255, 250, 240, 0.5);
    box-shadow: 2px 2px 0px darkgrey;
    width: 20%;
    max-width: 200px;
    margin: 20px 0;
}

#wiki img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

#wiki p {
    text-align: left;
    font-size: 1.2em;
    margin: 5%;
}

#pres {
    width: 70%;
    padding: 25px 25px 0 0;
}

#competence {
    display: flex;
    justify-content: space-between;
}

#langue {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#codage {
    display: flex;
    justify-content: space-around;
}

.histoire {
    text-align: justify;
    width: 90%;
    padding-left: 30px;
}

#xp {
    display: flex;
}

.xp-div {
    width: 33%;
    text-align: center;
    margin-bottom: 10px;
}

.xp-div.middle {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.justify {
    text-align: center;
    font-style: italic;
}

#wordpress {
    text-decoration: underline;
}

.text {
    width: 90%;
    padding-left: 3%;
}

#frise {
    width: 100%;
}

#echec {
    display: flex;
    justify-content: space-around;
}

#banner {
    width: 50%;
    height: 500px;
    background-image: url('https://i.postimg.cc/crxrkCVH/article.jpg');
    border-right: 5px solid blanchedalmond;
    position: relative;
}

#bannerbis {
    width: 50%;
    height: 500px;
    background-image: url('https://i.postimg.cc/njxHswxz/articlebis.jpg');
    border-left: 5px solid blanchedalmond;
    position: relative;
}

.article {
    background-color: rgba(100, 100, 100, 0.8);
    width: 99.5%;
    height: 100px;
    margin: 0;
    position: absolute;
    bottom: 0;
    color: floralwhite;
    padding-left: 4px;
    font-size: 1.2em;
}

#choco {
    width: 90%;
    font-size: 1.5em;
    width: 70%;
}

.presDesc li {
    list-style: circle;
    text-align: justify;
    margin: 10px;
}

.presDesc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer a img {
    margin: 10px;
    width: 50px;
}

#scroller {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 99999999;
    background-color: #ffebcd;
}